{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<link href="{{ STATIC_URL }}css/signin.css" rel="stylesheet">

<body sip-shortcut-listen="true">

<div class="container">
      <form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="form-signin" role="form">{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        {% for field in form %}
            {{ field }}
        {% endfor %}
        <button class="btn btn-primary" type="submit">Sign in</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
</body>
{% endblock %}
