{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Register for an account{% endblock %}
{% block content %}

<link href="{{ STATIC_URL }}css/signin.css" rel="stylesheet">

<div class="container">

        <form class="form-signin" role="form" action="" method="post">{% csrf_token %}
        <h2 class="form-signin-heading">
            Register
        </h2>
            {% if form.errors %}
                <p>Invalid account details. Please try again.</p>
            {% endif %}
            {% for field in form %}
                {{ field }}
                {{ field.errors }}
            {% endfor %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>

</div>
{% endblock %}
