{% extends "base.html" %}
{% block title %}{{ head }}{% endblock %}

{% block content %}
  <div class="container">

    {% include "core/includes/header.html" %}

      <br>

      <div class="jumbotron">
          <h1>{{ head }}</h1>
          <p class="lead">{{ lead }}</p>
          {% include "core/includes/search.html" %}
          <p>
          <a class="btn btn-lg btn-success" href="{% url 'new_post' %}" role="button">Create New Post</a>
          <a class="btn btn-lg btn-success" href="{% url 'home' %}" role="button">View All Posts</a>
          </p>
      </div>

    <div class="row marketing">
    {% for post in object_list %}
      {% if request.user.is_staff or post.active %}
        <div class="col-lg">
          <h4><a href="{{ post.get_absolute_url }}">
              {% if not post.active %}<del>{% endif %}{{ post|title }}{% if not post.active %}</del>{% endif %}
          </a></h4>
          <p>{{ post.content|linebreaks }}</p>
        </div>
        {% endif %}
    {% endfor %}
    </div>

{% endblock %}
